/*CSS written by JingYi21*/
.blog-wrap{
    background-color: rgba(0,0,0,0.5);
    padding-top: 5em;
}
.section-left{
    width:20%;
    float: left;
    text-align: center;
}
.section-left-logo{
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
    border: 0.5em solid #999999;
    border-radius: 100%;
}
.section-left-logo img{
    border-radius: 100%;
}
.section-left-list{
    font-size: 1.5em;
    font-weight: 800;
}
.list a{
    padding: 0.5em;
    transition-duration: 0.5s;
}
.list a:hover{
    color: #999;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.section-right{
    width: 70%;
    margin-left: 20%;
    padding-bottom: 4em;
    min-height: 15em;
    color: #fff;
    border: 0.5em solid #999999;
    background-color: rgba(120,120,120,0.5);
}
.section-right-text{
    padding: 3em 0 0 3em;
    margin-right: 3em;
}
.right-article{
    border-top: 0.125em dotted #FFFFFF;
    border-bottom: 0.125em dotted #FFFFFF;

}
.article-title{
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.0125em solid #ffffff;
}
.article-content{
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-overflow: clip;
}