/*CSS written by JingYi21*/

/*Reset*/
*{
    margin:0;
    padding:0;
}
div,section,article,footer,ul,li,a,h1,h2,h3,h4,h5,h6,p,nav,button,span{
    display: block;
}
body{
    overflow-x: hidden;
    background-repeat: round;
    background-attachment: fixed;
    opacity: 0.9;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
h1{
    font-size: 2.2em;
}
h2{
    font-size: 1.9em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.3em;
}
h5{
    font-size: 1em;
}
h6{
    font-size: 0.7em;
}
p{
    font-size:1.1em;
}
button{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* Background */
body{
    background-image: url(../img/notes-514998_1920.jpg);

}
/*导航条*/
.nav{
    width: 100%;
    height: 5em;
    background-color: rgba(12,12,12,0.4);
    display: inline-block;
}
.nav a{
    padding: 0.8em;
    border: 5px solid transparent;
    transition: 0.5s;
    font-size: 1.4em;


}
.nav a:hover{
    transition: 0.5s;
    background-color: rgba(12,12,12,0.9);
}
.nav-logo{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 14em;
    height: 100%;
    float: left;
    margin-top: 0.7em;
    margin-left: 10%;
}
/*右侧导航栏*/
.nav-bar{
    text-align: right;
    width: 90%;
}
.nav-bar-item{
    display: inline-block;
    line-height: 2em;
}

/*页脚*/
.footer{
    background-color: #444;
}
.footer h3{
    text-align: center;
    padding-top: 2em;
    color: #999999;
}
.footer-text{
    padding: 4em 0 0 0;
    text-align: center;
}
.footer-text a{
    color: #000;
    display: inline-block;
}
.footer-copyright{
    font-size: 0.8em;
}