*{
    margin:0;
    padding:0;
    font-family: 'Microsoft YaHei',Tahoma;
}
body{
    overflow-x: hidden;
    font-size: 62.5%;
}
div,section,a,article,footer,ul,li,h1,h2,h3,h4,h5,h6,p,button,span{
    display: block;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
}
h1{
    font-size: 1.25em;
}
h2{
    font-size: 1.125em;
}
h3{
    font-size: 1em;
}
h4{
    font-size: 0.875em;
}
h5{
    font-size: 0.75em;
}
h6{
    font-size: 0.5em;
}
p{
    font-size:1em;
    color: #444444;
}