/*CSS written by JingYi21*/
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
body{
    height: 100%;
    width: 100%;
    background: url(http://pic1.win4000.com/wallpaper/2017-10-14/59e1cf138fbf4.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    -webkit-background-size: cover;
    background-size: cover;
}
/* ==========================================================================
  Header
 ============================================================================ */
#header{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    background-color: #fff;
}
.nav{
    padding-top: 16px;
    padding-bottom: 16px;
}
#logo a{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    transition-duration: 0.6s;
}
#logo a:hover{
    font-size: 1.2em;
    transition-duration: 0.6s;
}
#nav a{
    text-decoration: none;
    padding: 0 6px 0 6px;
    color: rgba(0,0,0,0.54);
}


.title-text{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 30%;
}


#second{
    column-count: 3;
    text-align: center;
    background-color: rgba(0,0,0,0.38);
}
.second-text{
    padding-top: 48px;
    padding-bottom: 48px;
}
.second-text i{
    padding-top: 18px;
    padding-bottom: 18px;
}
.second-text h2{
    padding-top: 12px;
    padding-bottom: 12px;
}

footer{
    background-color: #fff;
    padding: 32px 0 32px 0;
    text-align: center;
}