/* Reset */
html,body{padding: 0;margin: 0;width: 100%;height: 100%;overflow-x: hidden}
a{text-decoration: none;color: #fff;}
ul{margin: 0}
li{list-style-type: none;display: inline-block;}
.hide{display: none;}
h1,h2,h3,h4{margin: 0;}
/* Header */
#header{
    z-index: 9;
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 5px #ddd;
}
.header{z-index: 9}
#logo{
    float: left;
    transition: .24s ease;
}
#logo:hover{
    background-color: #555;
    transition: .24s ease;
}
#logo a{
    display: block;
    color: rgba(0,0,0,0.87);
    line-height: 60px;
    letter-spacing: .1em;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid rgba(0,0,0,0.12);
    transition: .24s ease;
}
#logo a:hover{
    color: #ddd;
    transition: .24s ease;
}

#text{
    display: inline-block;
    padding-left: 20px;
}
.random{
    color: rgba(0,0,0,0.87);
    line-height: 30px;
    letter-spacing: .1em;
}
#buttons{
    float: right;
    padding-right: 2%;
}
#buttons a{
    color: rgba(0,0,0,0.54);
    line-height: 60px;
    padding: 0 10px 0 6px;
}
#nav{
    position: fixed;
    margin-top: -2px;
    width: 100%;
    height: 60px;
    background-color: #f77b83;
    line-height: 60px;
}
#nav ul li{
    float: right;
    padding-right: 2%;
}

/* Wrap */


/* work */
.work{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding: 20px 100px;
}
.work-article img{
    width: 220px;
    height: auto;
}
/* Footer */