body{
    width: 100%;
}
ul{display: inline-flex;list-style-type: none}
a{display:block;width: 100%;height: 100%;text-decoration: none
00  }









/* Wrap */
.Grad-Background{
    background: -webkit-linear-gradient(45deg,#8dc8c4,#437bb6);
    background: linear-gradient(45deg,#8dc8c4,#437bb6);
}

.header{
    width: 100%;
    height: 880px;
    color: #fff;
    font-size: 18px;
}
.navbar{
    height: 140px;
}
.logo{
    height: 60px;
    line-height: 30px;
    width: 220px;
    padding: 0 0 0 90px;
}
.logo p{
    margin-bottom: -0.7rem;
}
.logo p:nth-child(2){
    font-weight: 700;
}
.navlist{
    height: 100%;
    line-height: 120px;
}
.list li{
    padding: 0 35px;
}
li a{color: #fff}