html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("http://ww2.sinaimg.cn/large/0060lm7Tly1fji5691db2j31hc0u0n5v.jpg");
}
h1,a{
    color: rgba(72,72,72,.8);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
.active{
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}
.TY-container{
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
}
.TY-left{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.2em;
    background: rgba(66, 200, 244, .6);
}
.TY-icon{
    margin-bottom: 1.2em;
    border-radius: 100%;
}
.TY-icon img{
    border: 6px solid #fff;
    border-radius: 100%;
}

nav li a{
    color: rgba(248,248,248,.8);
}
.TY-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background-color: rgba(248,248,248,.6);
}
.TY-items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.TY-items a{
    width: 32%;
    padding: 1.2em 0;
}
#hitokoto{
    color: rgba(248,248,248,.8);
    text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
